*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.select-option {
  display: flex;
  align-items: center;
}
.select-option img {
  width: 20px; /* ปรับขนาดของรูปภาพตามที่ต้องการ */
  height: auto; /* ทำให้ความสูงของรูปภาพปรับตามอัตราส่วน */
  margin-right: 8px; /* ระยะห่างระหว่างรูปภาพและข้อความ */
}

.line-clamp{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp1{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.image_hover{
  z-index: 1;
}
.image_hover:hover{
  scale: 1.1;
  transition: 300ms;
}